@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Pixelify+Sans:wght@400..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 18px;
}

body {
    height: 100%;
    background-color: rgb(26, 24, 31);
    overflow-x: hidden;
    margin-top: 2vw;
}

/*-----------------Desktop Modus----------------------------*/
@media screen  and (width >= 950px){
/*-----------------Navigation Bar Settings-----------------*/
    .navbar {
        display :flex;
        flex-direction: row;
        justify-content: space-between;
    }  

    .navbar ul li a {
        font-size: calc(10px + 1.3vw);
    }

    .hire-btn {
        height: 40px;
        width: 110px;
        font-size: 18px;
        border-radius: 10px;
    }

}

/*-----------------Mobile Devices-------------------------*/
@media screen and (width < 950px){
    .navbar {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 8px;
        row-gap: 0.5vh;
    }

    .navbar h2{
        grid-column-start: 2;
        font-size: calc(12px + 2vw);
        text-align: center;
        place-self: center;
    }

    .holografic-container {
        grid-column-start: 3;
        display: flex;
        justify-self: center;
    }

    .hire-btn {
        height: calc(23px + 2vw);
        width: calc(100px + 2vw);
        font-size: 1rem;
        border-radius: 8px;
    }

    .navbar ul {
        grid-column: span 3 / span 3;
        grid-row-start: 2;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }

    .navbar ul li a {
        font-size: calc(10px + 1vw);
    }

}

/*-----------------Navigation Bar Settings-----------------*/
.navbar {
    text-wrap: nowrap;
    margin: 0 2vw;
    color: rgba(221, 173, 15, 0.87); 
}

.navbar h2 {
    font-size: 40px;
}

.navbar ul {
    display: flex;
    gap: 5vw;
    align-items: center;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: rgba(221, 173, 15, 0.87);
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: rgba(255, 215, 0, 0.87);
    text-shadow: 2px 1px 4px rgba(255, 215, 0, 0.87);
}

.navbar ul li:last-child a {
    margin: 0;
}

/*---------------------Hire Me Button------------------------*/
.holografic-container {
    display: flex;
}

.button-container {
    display: flex;
    align-items: center;
}

.hire-btn::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
        0deg, 
        transparent, 
        transparent 30%, 
        rgba(221, 173, 15, 0.5)
    );
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0;
}

.hire-btn {
    color: rgba(221, 173, 15, 0.87);
    font-weight: 400;
    border-width: 1;
    border-color: rgba(221, 173, 15, 0.87);
    background-color: rgba(26, 24, 31);

    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;

    cursor: pointer;
}

.hire-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(221, 173, 15, 0.87);
    color: rgba(221, 173, 15);
}

.hire-btn:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(110%);
}

/*-----------MainPage Settings----------------*/

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    min-width: 385px;
}

.main h4 {
    color: white;
    font-weight: 600;
}

.main h4 span {
    color : rgba(221, 173, 15, 0.87);
    text-decoration: underline;
    font-size: 100%;
}


.main p.title {
    color : white;
    text-align: center;
}

.main p.subtitle {
    
    text-align: center;
    color:rgb(180, 180, 180);
}

.main img {
    margin-top: 50px;
}



/*------------------Desktop-------------------*/
@media screen and (width >= 800px){
    .main {
        height: 100vh;
    }

    .main h4 {
        font-size: 4vw;
    }

    .main p.title {
        text-wrap: nowrap;
        font-size: 2.3vw;
    }

    .main p.subtitle {
        font-size: 1.2vw;
    }

    .main img {
        border-radius: 50px;    
        width: 20vw;
    }
}

/*-----------------Mobile Devices-------------------------*/
@media screen and (width < 800px){
    .main {
        transform: scale(80%);
    }

    .main h4 {
        font-size: 12vw;
    }

    .main p.title {
        font-size: 11vw;
    }

    .main p.subtitle {
        font-size: 4.7vw;
    }

    .main img { 
        width: calc(80vw - 35%);
        border-radius: 20px;
    }
}


/*------------Guarantee Settings-------------------*/

.guarantee {
    display: flex;
    justify-content: center;
    text-align: center;
    color : white;
    gap: 5vw; 
    margin: 2vw 4vw
}

.guarantee  .item {
    background-color: rgba(255,255,255, 0.05);
    padding: 20px;
    border-radius: 20px;
}

.guarantee .item .icon {
    margin-bottom: 12px;
}

.guarantee .item:hover {
    background-color: rgba(255,255,255, 0.1);
}

.guarantee .item .info h3 {
    margin-bottom: 5px;
}

.guarantee .item .info p {
    color : rgb(180, 180, 180);
}

/*------------------Desktop-------------------*/
@media screen and (width >= 800px){

    .guarantee  .item {
        width: 50vw;
        height: auto;
    }

    .guarantee  .item h3 {
        font-size: 1.5vw;
    }

    .guarantee  .item i {
        font-size: 2.5vw;
    }

}

/*-----------------Mobile Devices-------------------------*/
@media screen and (width < 800px){
    
    .guarantee .item {
        width: 30vw;
        height: auto;
    }

    .guarantee  .item h3, p {
        font-size: 1rem;
    }

    .guarantee  .item i {
        font-size: 2rem;
    }

}


/*-----------------About Me Settings-------------------*/

.about-container {
    display: flex;
    align-items: center;
    margin: 2vw 4vw;
    gap: 2vw;
}

.aboutme {
    background-color: rgba(221, 173, 15, 0.87);
    font-size: 1rem;
    padding: 2vw;
    height: 100%;
    border-radius: 1.2vw;
}


.aboutme h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5vw;
}

.aboutme ul {
    list-style: none;
}

#career-info span {
    font-weight: 600;
}

/*-----------------Skill Settings-------------------*/
.skill-container {
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    margin: 2vw 4vw;
    color: white;
}

.skill-container h1 {
    padding-left: 2vw;
    font-size: 1.5rem;
}

.skills {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: space-between;
}

.skills .item {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-color: transparent;
}

.skills .item img {
    display: block;
    height: 15vw;
    transition: .5s ease;
    border-radius: 1.2vw;
}

.skills .item .info {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: .5s ease;
    padding: 1.5vw;
    color: white;
    gap: 1vw;
    list-style: none;
}

.skills .item .info li {
    font-size: .6rem;
}

.skills .item:hover img {
    opacity: 0.3;
}

.skills .item:hover .info {
    opacity: 1;
}

/*------------------Desktop-------------------*/
@media screen and (width >= 800px){


}

/*-----------------Mobile Devices-------------------------*/
@media screen and (width < 800px){


}