@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Pixelify+Sans:wght@400..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}

body {
    height: 100%;
    background-color: rgb(26, 24, 31);
    overflow-x: hidden;
}

/*-----------------Navigation Bar Settings-----------------*/
.navbar {
    color: rgba(221, 173, 15, 0.87); 
    text-wrap: nowrap;
    
    padding: 0 2vh;

}

.navbar ul {
    display: flex;
    gap: 30px;
}

/*-----------------Desktops---------------------------------*/
@media screen and (width >= 800px){
    .navbar {
        display :flex;
        justify-content: space-between;
        margin-top: 1%;
        align-items: center;
    }

    .navbar h2 {
        font-size: 40px;
    }

    .navbar ul {
        gap: 5vw;
    }

    .navbar ul li a {
        font-size: 2em;
    }
}

/*-----------------Mobile Devices-------------------------*/
@media screen and (width < 800px){
    .navbar {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 8px;
        row-gap: 0.5vh;
        margin-top: 2%;
    }

    .navbar h2{
        grid-column-start: 2;
        text-align: center;
        font-size: 3vh;
        place-self: center;
    }

    .holografic-container {
        grid-column-start: 3;
        transform: scale(60%);
    }

    .navbar ul {
        grid-column: span 3 / span 3;
        grid-row-start: 2;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }

    .navbar ul li a {
        font-size: 1em;
    }

}

.navbar ul li {
    list-style: none;
    
}

.navbar ul li a {
    text-decoration: none;
    color: rgba(221, 173, 15, 0.87);
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: rgba(255, 215, 0, 0.87);
    text-shadow: 2 px 2px 4px rgba(255, 215, 0, 0.87);
}

.navbar ul li:last-child a {
    margin: 0;
}
/*---------------------Hire Me Button------------------------*/

.hire-btn::before {
      content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(221, 173, 15, 0.5)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.hire-btn {
    color: rgba(221, 173, 15, 0.87);
    font-size: 18px;
    font-weight: 400;
    border-width: 1;
    border-color: rgba(221, 173, 15, 0.87);
    background-color: rgba(26, 24, 31);
    height: 40px;
    width: 110px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;

    cursor: pointer;
}

.hire-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(221, 173, 15, 0.87);
    color: rgba(221, 173, 15);
}


.hire-btn:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(110%);
}

/*-----------MainPage Settings----------------*/
.main {
    display: flex;
    height: 640px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.main h4 {
    font-size: 32px;
    color: white;
    font-weight: 600;
}

.main h4 span {
    color : rgba(221, 173, 15, 0.87);
    text-decoration: underline;
}

.main p.title {
    font-size: 44px;
    color : white;
}

.main p.subtitle {
    font-size: 18px;
    color:rgb(180, 180, 180);
}

.main img {
    margin-top: 50px;
    width: 20vw;
    border-radius: 50px;
}

/*------------Guarantee Settings-------------------*/
.guarantee {
    display: flex;
    justify-content: center;
    text-align: center;
    color : white;
    
    gap: 50px
}

.item {
    width : 250px;
    height: 100%;
    background-color: rgba(255,255,255, 0.05);
    padding: 20px;
    border-radius: 20px;
    transition: all 0.3 ease;
}

.guarantee .item .icon {
    font-size: 30px;
    margin-bottom: 12px;
}

.guarantee .item:hover {
    background-color: rgba(255,255,255, 0.1);
}

.guarantee .item .info h3 {
    margin-bottom: 5px;
}

.guarantee .item .info p {
    color : rgb(180, 180, 180);
}

/*-----------------About Me Settings-------------------*/

.about-container {
    margin: 25px;
    margin-top: 100px;
    background-color: rgba(221, 173, 15, 0.87);
    padding: 10px;
}

.about-container h1 {
    margin-bottom: 10px;
}

.about-container ul {
    list-style: none;
}

.about-container ul li {
    margin-top: 10px;
}


/*-----------------Skill Settings-------------------*/
.skill-container {
    margin: 25px;
    margin-top: 100px;
    color: white;
}

.skill-container h1 {
    margin: 10px;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.skills .item {
    display: flex;
    min-width: fit-content;
}

.skills .item .picture {
    flex-shrink: 0;
}

.skills .item .info {
    display: flex;
    max-width: 0;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    row-gap: 8px;
    transition: opacity 0.45s ease, max-width 0.45s ease, margin-left 0.45s ease;
}

.skills .item img {
    height: 250px;
    border-radius: 20px;
}

.skills .item:hover .info {
    margin: 20px;
    opacity: 1;
    max-width: 260px;
    pointer-events: auto;
}